.experiences {
    margin-top: 4rem;
    padding: 0 7rem;
}

.experiences__container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.experience__period h1 {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}

.active {
    color: var(--teal-color);
    cursor: pointer;
    border-left: 3px solid var(--teal-color);
    background-color: #355363;
    padding: 0.4rem ;
    border-radius: 0.3rem;
}

.non-active {
    cursor: pointer;
    color: white;
}