.experiences {
    margin-top: 4rem;
    padding: 0 7rem;
}

.experiences__container {
    display: flex;
    gap: 20rem;
}

.experience {
    width: 160px;
}

.experience__period h1 {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}

.active {
    color: var(--teal-color);
    cursor: pointer;
    border-left: 3px solid var(--teal-color);
    background-color: #355363;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.non-active {
    cursor: pointer;
    color: white;
}

.experience__details {
    margin-top: 10px;
}

.experience__details h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    letter-spacing: 1px;
}

.experience__details h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--teal-color);
}

.experience__details p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: white;
    line-height: 25px;
}




@media  screen and (max-width: 768px) {
    .experiences {
        padding: 0 1rem 0 5rem;
        width: 900px;
    }

    .experiences__container {
        margin-top: 20px;
        display: flex;
        gap: 5rem;
    }

    .experience__period {
        width: 45%;
    }

    .experience__details {
        margin-top: 1rem;
        margin-right: -30px;
    }

    .experience__details h1 {
        font-size: 1.5rem;
    }

    .experience__details h2 {
        font-size: 1rem;
    }

    .experience__details p {
        font-size: 0.7rem;
    }
    
}